<%- include ('../../partials/header.ejs') %>
    <%- include ('../../partials/navbar.ejs') %>

        <div class="container">
            <hr>
            <h2>Categorias</h2>
            <a class="btn btn-success" href="/admin/categories/new">Nova categoria</a>
            <hr>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Slug</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <% categories.forEach((category)=>{ %>
                        <tr>
                            <td>
                                <%= category.id %>
                            </td>
                            <td>
                                <%= category.title %>
                            </td>
                            <td>
                                <%= category.slug %>
                            </td>
                            <td style="display: flex; justify-content: center; gap: 10px;">
                                <a class="btn btn-warning" href="categories/edit/<%= category.id %>">Editar</a>
                                <form method="POST" action="/categories/delete"
                                    onsubmit="confirmarExclusao(event, this)">
                                    <input type="hidden" name="id" value="<%= category.id %>">
                                    <button class="btn btn-danger">Excluir</button>
                                </form>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>

        <%- include ('../../partials/footer.ejs') %>

            <script>
                function confirmarExclusao(event, form) {
                    event.preventDefault();

                    let decision = confirm('Deseja exlcuir a categoria?')

                    if (decision) {
                        form.submit();
                    }
                }
            </script>